div.image-row{
    display: inline-block;
}

.image-row figure img {
	-webkit-filter:  blur(0);
	filter:  blur(0px);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.image-row figure:hover img {
	-webkit-filter: blur(0px);
	filter: blur(3px);
    
}

.padrao-img {  
    border-radius: 50%;
    height: 175px;
    width: 175px;
}

#text {
    color: #159957;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
}
